
body {
	background-color: grey;
}

.meniu{
    background-color: orange;
    text-align: center;
    padding: 10px;
}

.meniu li{

    display: inline-block;
    border: 3px solid black;
}


/*img {
	width: 200px;
	height: 130px;
}
*/

.imaginea1{
	width: 500px;
}

.imaginea2{
	height: 200px;
}